{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block presentation_page %}

<h2>Bienvenue sur mon portfolio</h2>

<p>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima facilis possimus quas, eveniet velit culpa nobis ea qui neque unde in pariatur. Necessitatibus nulla maxime optio illum sequi, labore provident!</span>
    <span>Unde perferendis inventore quod voluptas adipisci minus magnam fuga fugiat, numquam voluptatibus. Quam facere hic, laboriosam quia nihil veniam inventore provident eos! Quas voluptatum sed eveniet error inventore minima. Recusandae.</span>
</p>

{% endblock %}


{% block content_page %}

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus natus quibusdam eaque possimus facilis cum eligendi sequi. Aut porro laborum, deserunt veniam fugit ut tempore eum facere iusto sed officiis.</p>

{% endblock %}
