{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block presentation_page %}

<h2>Bienvenue sur mon portfolio</h2>

<p>Vous retrouverez ici de nombreuses informations me concernant mais aussi les différentes veilles effectuées (technologique et juridique), ainsi que divers projets réalisés.</p>
<p class="italic-paragraph">"L'informatique d'aujourd'hui nous mènera à celle de demain."</p>

{% endblock %}


{% block content_page %}

    <div class="posts">

        <article class="home">

            <h2>Accès au CV</h2>

            <hr class="hr-divider alt"/>

            <a href="/cv" class="image fit"><img src="/assets/images/pic01.jpg" class="image fit" alt="Accès au CV illustration" /></a>

            <ul class="actions special">

                <li><a href="/cv" class="button">Accéder <i class="fas fa-arrow-circle-right"></i></a></li>

            </ul>

        </article>

        <article class="home">

            <h2>Accès aux compétences</h2>

            <hr class="hr-divider alt"/>

            <a href="skills" class="image fit"><img src="/assets/images/pic02.jpg" class="image fit" alt="Accès aux compétences illustration" /></a>

            <ul class="actions special">

                <li><a href="skills" class="button">Accéder <i class="fas fa-arrow-circle-right"></i></a></li>

            </ul>

        </article>

        <article class="home">

            <h2>Accès aux veilles</h2>

            <hr class="hr-divider alt"/>

            <a href="/watch" class="image fit"><img src="/assets/images/pic03.jpg" class="image fit" alt="Accès aux veilles illustration" /></a>

            <ul class="actions special">

                <li><a href="/watch" class="button">Accéder <i class="fas fa-arrow-circle-right"></i></a></li>

            </ul>

        </article>

        <article class="home">

            <h2>Accès aux documentations</h2>

            <hr class="hr-divider alt"/>

            <a href="/docs" class="image fit"><img src="/assets/images/pic04.jpg" class="image fit" alt="Accès aux documentations illustration" /></a>

            <ul class="actions special">

                <li><a href="/docs" class="button">Accéder <i class="fas fa-arrow-circle-right"></i></a></li>

            </ul>

        </article>

        <article class="home">

            <h2>Projets</h2>

            <hr class="hr-divider alt"/>

            <a href="/projects" class="image fit"><img src="/assets/images/pic05.jpg" class="image fit" alt="" /></a>
            
            <ul class="actions special">

                <li><a href="/projects" class="button">Accéder <i class="fas fa-arrow-circle-right"></i></a></li>

            </ul>

        </article>

        <article class="home">

            <h2>A propos</h2>

            <hr class="hr-divider alt"/>

            <a href="/about" class="image fit"><img src="/assets/images/pic06.jpg" class="image fit" alt="" /></a>

            <ul class="actions special">

                <li><a href="/about" class="button">Accéder <i class="fas fa-arrow-circle-right"></i></a></li>

            </ul>

        </article>
    
    </div>

{% endblock %}