@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

section {
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 1vh = 1% du viewport */
    background: url(/assets/images/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 150px;
}


.container {
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 200px);
    min-height: 300px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-bottom: 10px;
}

header {
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header ul {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

header ul li {
    list-style: none;
    margin: 0 30px;
}

header ul li a {
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 700;
    color: rgb(5, 36, 79);
    padding: 8px 15px;
    border-radius: 25px;
    transition: background 0.3s;
    text-transform: uppercase;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.presentation-banner {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}

.presentation-banner .img-logo {
    margin-top: auto;
    margin-bottom: auto;
}

.page-description {
    transform: translateX(-100px);
    max-width: 140%;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 110px;
}

.page-description h2 {
    font-size: 3em;
    color: rgb(5, 36, 79);
    padding-bottom: 15px;
}

.page-description p {
    font-size: 1.2em;
    color: rgb(5, 36, 79);
    padding: 10px 0;
}

.italic-paragraph {
    font-style: italic;
}

.page-description a {
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: rgb(5, 36, 79);
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.img-logo img {
    max-width: 200px;
    margin-right: 50px;
}

.social-links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.social-links li {
    list-style: none;
    margin: 0 30px;
}

.social-links li a.sci-primary {
    text-decoration: none;
    color: #9b2fb6;
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.3em;
    transition: 0.5s;
}

.social-links li a.sci-primary:visited {
    color: #9b2fb6;
}

.social-links li a.sci-primary:hover {
    transform: rotate(360deg);
}

@media (max-width: 1450px) {
    .container {
        flex-direction: column;
        height: auto;
        padding: 20px;
        margin-right: 60px;
    }

    .container .content {
        transform: translateX(0px);
        max-width: 80%;
    }
    .container .presentation-banner {
        margin-top: -20px;
    }

    header {
        position: relative;
        flex-direction: column;
        width: 100%;
        top: -60px;
        left: -2px;
        padding: 20px;
    }

    header ul {
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    header ul li {
        padding: 10px 0px;
    }
}

.backdrop-blur {
    background-color: rgba(255, 255, 255, .6);
}
  
/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
    .backdrop-blur {
        background: rgba(255, 255, 255, 0.3);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

.backdrop-blur-slight {
    background-color: rgba(223, 223, 223, 0.377);
}
  
/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
    .backdrop-blur-slight {
        background: rgba(223, 223, 223, 0.2);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
}

.hr-divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.hr-divider.alt {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0));
    margin-bottom: 0;
}

.content-page {
    margin: 30px 0;
}

.content-page .posts {
    display: inline-flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
    text-align: center;
    padding: 0;
    margin-left: 3.666%;
}

@media (min-width: 2000px) {
    .content-page .posts {
        margin-left: 5.5%;
    }
}

.content-page .posts article.home {
    max-width: 45%;
    background: rgba(223, 223, 223, 0.2);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    margin: 40px 20px;
    box-shadow: none;
    transition: box-shadow 0.3s;
}

.content-page .posts article.home:hover {
    -webkit-box-shadow: inset 3px 3px 12px 2px rgba(255, 255, 255, 0.3), 7px 7px 15px 1px rgba(0,0,0,0.2); 
    box-shadow: inset 3px 3px 12px 2px rgba(255,255,255,0.3), 7px 7px 15px 1px rgba(0,0,0,0.2);
}

.content-page .posts article.home h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    color: rgb(5, 36, 79);
    padding-bottom: 15px;
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.image {
    border: 0;
    display: inline-block;
    position: relative;
}

.image.fit {
    display: block;
    margin: 2.5rem 0;
    width: 100%;
}

.content-page .posts article.home a img {
    border: none;
    transition: all 0.6s;
}

.content-page .posts article.home a img:hover {
    border-radius: 20px;
}

.content-page .posts article.home ul li {
    list-style: none;
    margin: 0 30px;
}

.content-page .posts article.home ul li a {
    text-decoration: none;
    width: 70%;
    list-style: none;
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(12, 122, 150);
    padding: 8px 15px;
    border-radius: 25px;
    transition: background 0.3s;
    text-transform: uppercase;
    background: #fff;
    box-shadow: none;
    transition: all .3s;
}

.content-page .posts article.home ul li a:hover {
    color: #742488;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.content-page .posts article.home ul li a > i{
    transition: all .6s;
}

.content-page .posts article.home ul li a:hover > i {
    transform: rotate(360deg);
}