<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="icon" type="image/png" href="/assets/images/logo.png" />

        <link rel="preload" href="/assets/css/all.css" as="style">
        <link rel="preload" href="/assets/images/bg2.jpg" as="image">

        <link href="/assets/css/all.css" rel="stylesheet"> <!--load all fontawesome styles -->
        <link rel="stylesheet" href="/assets/css/style.css">
        
        <title>RUEL Marc - {% block title %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>

        <section>

            <div class="container">
                <header class="navBar backdrop-blur">
                    <ul>
                        <li><a href="#" class="active">Accueil</a></li>
                        <li><a href="#">CV</a></li>
                        <li><a href="#">Compétences</a></li>
                        <li><a href="#">Veilles</a></li>
                        <li><a href="#">Documentations</a></li>
                        <li><a href="#">Projets</a></li>
                        <li><a href="#">A Propos</a></li>
                    </ul>
                </header>

                <div class="presentation-banner">
                    <div class="page-description backdrop-blur-slight">
                        {% block presentation_page %}{% endblock %}
                    </div>

                    <div class="img-logo">
                        <img src="/assets/images/logo.png" alt="Portfolio logo"/>
                    </div>
                </div>

                <hr class="hr-divider"/>

                <div class="content-page">
                    {% block content_page %}{% endblock %}
                </div>

                <hr class="hr-divider alt"/>

                <ul class="social-links">
                    <li><a href="mailto:marcruel.ruel@outlook.fr" class="sci-primary"><i class="far fa-envelope"></i></a></li>
                    <li><a href="#" class="sci-primary"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" class="sci-primary"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#" class="sci-primary"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </section>

    </body>
    
</html>